<style>
    ul,ul li{
        list-style: none; margin:0; padding:0;
    }
    .listUl li{
        padding:8px;
    }
    .listUl li:nth-child(even){
        background-color:#f1f1f1;
    }
</style>

<div class="padding title-ground" layout="row">
    <div class="navbar-title" layout="row" layout-align="left center">
        <div class="imgPublic margin-right"></div>
        <b class="titleText">舆情管理</b>
    </div>
</div>

<div class="padding margin title-ground" layout="row">
    <div class="form-group" layout="row">
        <label class="margin-top-sm">URL链接：</label>
        <input type="text" class="form-control" style="width:400px;">
    </div>
    <button type="button" class="btn btn-info btn-sm margin-left"
            style="height:34px;">搜索</button>
    <button type="button" class="btn btn-info btn-sm margin-left" style="height:34px;">新增</button>
    <button type="button" class="btn btn-info btn-sm margin-left" style="height:34px;">导入文件</button>
</div>

<div class="title-ground padding margin" >
    <ul class="listUl">
        <li layout="row" ng-repeat="item in T.urlList">
            <p style="width:50px;"><span class="TIcon">U</span></p>
            <p style="padding-top:3px;overflow:hidden; text-overflow:ellipsis; white-space: nowrap;">{{item.url}}</p>
            <p flex></p>
            <p style="vertical-align: top">
                <a href="javascript:" style="text-decoration: none;" class="margin-right">
                    <md-icon>edit</md-icon>
                    <md-tooltip>修改</md-tooltip>
                </a>
                <a href="javascript:" style="text-decoration: none;" class="margin-right">
                    <md-icon>delete</md-icon>
                    <md-tooltip>删除</md-tooltip>
                </a>
            </p>
        </li>
    </ul>
    <!--page 分页-->
    <page class="text-right"></page>

</div>





