<md-dialog aria-label="Mango (Fruit)" ng-cloak>
  <form>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>请输入任务名称</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="T.cancel()">
          <md-icon>close</md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" style="width: 400px;">
        <md-input-container class="md-block" style="margin-bottom: 0;">
          <input type="text" placeholder="任务名称" maxlength="20" ng-model="T.name" md-autofocus />
        </md-input-container>

        <md-input-container class="md-block" style="margin-bottom: 0;">
          <label>自定义任务类型</label>
          <input type="text" placeholder="请输入自定义任务类型" maxlength="30" ng-model="T.customTaskType" />
        </md-input-container>

        <md-input-container class="md-block" style="margin-top: 32px;">
          <label>任务优先级</label>
          <md-select ng-model="T.emergencyLevel" aria-label="任务优先级">
            <md-option value="7">高</md-option>
            <md-option value="5">中</md-option>
            <md-option value="3">低</md-option>
          </md-select>
        </md-input-container>

        <md-radio-group ng-model="data.group1" layout="row">
          <label class="col-md-4">IP自动代理:</label>
          <!--<md-radio-button value="Apple" class="md-primary">是</md-radio-button>-->
          <!--<md-radio-button value="Banana">否</md-radio-button>-->
          <md-radio-group ng-model="T.isSupportProxy" class="col-md-8">
            <md-radio-button value="Y" style="display:inline-block">是</md-radio-button>
            <md-radio-button value="N" style="display:inline-block">否</md-radio-button>
          </md-radio-group>
        </md-radio-group>
      </div>
    </md-dialog-content>
    <md-dialog-actions class="text-right">
      <md-button ng-click="T.answer([T.isCancel,T.name,T.emergencyLevel,T.isSupportProxy,T.customTaskType])">
        确定
      </md-button>
      <md-button ng-click="T.answer(['Y'])" style="margin-right:20px;">
        取消
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>