<div ng-controller="StepPagingCtrl as T" layout-padding>
    <div>
        <md-input-container class="md-block">
            <input type="text" ng-model="T.step.selector"
                   placeholder="分页按钮的路径" ng-readonly="T.readonly" style="width:94%">
            <button type="button" class="btn btn-default btn-sm" style="display: inline-block" ng-click="T.toEdit()">
                <span class="glyphicon glyphicon-edit"></span>
            </button>
        </md-input-container>

        <div class="row">
            <div class="col-md-6">
                <md-input-container class="md-block">
                    <input type="number" ng-model="T.step.limit"
                           placeholder="多少次分页后中断此步骤" min="0">
                    <div class="hint">默认为1,即1页后中断采集，0表示循环采集，直至最后一页</div>
                </md-input-container>
            </div>

            <div class="col-md-6">
                <md-input-container class="md-block" style="display: inline;">
                    <md-select placeholder="延时时间"
                               ng-model="T.step.deplyTime">
                        <md-option ng-repeat="deplyTime in T.deplyList " value={{deplyTime}}>{{deplyTime== 0 ? "请选择" : deplyTime+"秒"}}</md-option>
                    </md-select>
                </md-input-container>
                <div class="hint" style="margin-top: -15px">无需求时,请不要设置此属性</div>
            </div>


        </div>

    </div>
</div>