<md-dialog aria-label="Mango (Fruit)" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>导入任务配置</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="T.cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" style="width: 300px;">
                <div layout="row" layout-align="center center">
                    <md-input-container class="md-block cu-input" flex>
                        <input ng-model="T.data.fileName" type="text" placeholder="配置文件" readonly>
                    </md-input-container>
                    <input type="file" id="file" style="display: none;">
                    <md-button ng-click="T.selectFile()">
                        选择文件
                    </md-button>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions class="text-right">
            <md-button ng-click="T.answer(T.data)">
                确定
            </md-button>
            <md-button ng-click="T.answer()" style="margin-right:20px;">
                取消
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>