<md-dialog aria-label="Mango (Fruit)" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>任务直达</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="T.cancel()">
                    <md-icon>close</md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" style="width: 400px;">
                <md-input-container style="width: 100%;">
                    <label>任务ID</label>
                    <input type="text" ng-model="T.tsId"/>
                </md-input-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions class="text-right">
            <md-button ng-click="T.answer(T.tsId)">
                确定
            </md-button>
            <md-button ng-click="T.answer()" style="margin-right:20px;">
                取消
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>